<br/><br/><br/><br/>

<div id="sapthagiri">
  <a href="http://twitter.com/saptha_giri" title="On Twitter" target="_blank">
    <img src="/images/sapthagiri.png" alt="sapthagiri" />
  </a>  
</div> 

<div id="main">  
  <div id="home">
    <h2>
      Hello and Welcome...<br/>
      My name is <span class="home_text"><a class="about">Sapthagiri</a></span>. I'm a budding <span class="home_text"><a class="portfolio">Web Developer/Designer</a></span> from India.
      This site showcases my <span class="home_text"><a class="portfolio">Portfolio</a></span> & <span class="home_text"><a class="blog">Blog</a></span>.<br/> Find out more <span class="home_text"><a class="about">About Me</a></span> and don't hesitate to <span class="home_text"><a class="contact">Contact Me</a></span>.
    </h2>
  </div>
  
  <div id="about_me">
    <h4 class="selected">| Home</h4>
    <h2 class="about">> About Me</h2>
    <h4 class="portfolio">| Portfolio</h4>
    <h4 class="blog">| Blog</h4>
    <h4 class="contact">| Contact</h4><br/>
    <img src="/images/me.jpg" alt="sapthagiri" style="float:right; padding: 0 20px;" />
    <p>I'm Sapthagiri.B, web developer from Pondicherry(India). I've finished my studies in Pondicherry, 
      majoring Electronics and Communication at may 2008 for bachelor degree. My childhood interest in computers,
      tends me to choose IT field for my career. I'm working as a Software Engineer in Sagework Software Ltd,Pondicherry.
    </p> <br/>
    <h3>Technical Skills</h3>
    <table cellspacing="20px">
      <tr>
        <td><h4>Framework</h4></td>
        <td><p>Rails 2.3.5, Microsoft .Net 2.0</p></td>
      </tr>
      <tr>
        <td><h4>Development Tools</h4></td>
        <td><p>Microsoft Visual Studio 2005, SQL Management Studio</p></td>
      </tr>
      <tr>
        <td><h4>Languages</h4></td>
        <td><p>Ruby 1.8.7, VB.net, C, C++, VB</p></td>
      </tr>
      <tr>
        <td><h4>Scripting Languages</h4></td>
        <td><p>JavaScript</p></td>
      </tr>
      <tr>
        <td><h4>Markup Languages</h4></td>
        <td><p>HTML, XHTML, CSS</p></td>
      </tr>
      <tr>
        <td><h4>JavaScript Libraries</h4></td>
        <td><p>JQuery, Prototype</p></td>
      </tr>
      <tr>
        <td><h4>RDBMS</h4></td>
        <td><p>MySQL, MS-SQL Server 2005</p></td>
      </tr>
      <tr>
        <td><h4>Operating System</h4></td>
        <td><p>Windows, LINUX, UNIX (SCO)</p></td>
      </tr>
      <tr>
        <td><h4>Web Server</h4></td>
        <td><p>Web rick, Mongrel, IIS, Apache</p></td>
      </tr>
      <tr>
        <td><h4>Version Control</h4></td>
        <td><p>Git</p></td>
      </tr>
      <tr>
        <td><h4>Testing</h4></td>
        <td><p>Rspec, Cucumber</p></td>
      </tr>
      <tr>
        <td><h4>Tools</h4></td>
        <td><p>Adobe Photoshop, Adobe Dreamweaver</p></td>
      </tr>
    </table>    
  </div>
  
  <div id="portfolio">
    <h4 class="selected">| Home</h4>
    <h4 class="about">| About Me</h4>
    <h2 class="portfolio">> Portfolio</h2>
    <h4 class="blog">| Blog</h4>
    <h4 class="contact">| Contact</h4>
    <br/>
    <div class="wattbot">
      <h3>WATTBOT.COM</h3><br/>
      <a href="http://www.wattbot.com"><img src="/images/wattbot.jpg" alt="wattbot.com"  /></a>
        <p>&nbsp; &nbsp; &nbsp;> <strong>Wattbot</strong> is a Internet based energy advisor located in California, USA.</p>
        <p>&nbsp; &nbsp; &nbsp;> Associated with this project for the past one year</p>
        <p>&nbsp; &nbsp; &nbsp;> Recogonized by Wattbot - My headshot has been published in wattbot <a href="http://www.wattbot.com/about/team" target="_blank" style="font-size: inherit; text-decoration: underline;">website</p></a>
    </div>
    <hr style="width: 100%;"/><br/>
    <div class="saptha_giri">
     <h3>SAPTHA-GIRI.IN</h3></a><br/>
      <a href="http://www.saptha-giri.in"><img src="/images/saptha-giri.jpg" alt="saptha-giri.in" /></a>
      <p>&nbsp; &nbsp; &nbsp;> SAPTHA-GIRI.IN is portfolio site of sapthagiri</p>
      <p>&nbsp; &nbsp; &nbsp;> Site is developed in Ruby on Rails & Jquery</p>
    </div>
    <hr style="width: 100%;"/><br/>
  </div>
  
  <div id="blog">
    <h4 class="selected">| Home</h4>
    <h4 class="about">| About Me</h4>
    <h4 class="portfolio">| Portfolio</h4>
    <h2 class="blog">> Blog</h2>
    <h4 class="contact">| Contact</h4>
    <img src="/images/coming_soon.png" alt=" Coming Soon" style="margin: auto; display: block;padding-top:100px" />
    <p style="text-align: center;">Currently  blogs at <%= link_to "sapthagiriblog", "http://www.sapthagiriblog.blogspot.com ", :target => "blank" %></p>
  </div>  
  
  <div id="mail">
    <h4 class="selected">| Home</h4>
    <h4 class="about">| About Me</h4>
    <h4 class="portfolio">| Portfolio</h4>
    <h4 class="blog">| Blog</h4>
    <h2 class="contact">> Contact</h2>
    <p>Use the form below to contact me</p>
    <% form_for :mailer, :url => { :controller => :emailer, :action => :send_mail } do |f| -%>
      <h5>Name *</h5>
      <p>
        <%= f.text_field :name, :size => 35 %> 
      </p>
      <h5>Email *</h5>
      <p>
        <%= f.text_field :email, :size => 35 %> 
      </p>
      <h5>Subject *</h5>
      <p>
        <%= f.text_field :subject, :size => 35 %> 
      </p>
      <h5>Your message *</h5>
      <p>
        <%= f.text_area :message, :size => "40x10" %>
      </p><br/>
      <p>
        <%= f.submit "Send" %>
      </p>
      <p>* required</p>
    <% end -%>
  </div>  
</div>

<%= javascript_tag %q{
  $(document).ready(function(){
    $('.about').click(function(){
      $('#about_me, #portfolio, #blog, #mail').show();
      $('#sapthagiri').fadeOut();
      $.scrollTo("#about_me", 1000);
      return false;
    });

    $('.portfolio').click(function(){
      $('#about_me, #portfolio, #blog, #mail').show();
      $.scrollTo("#portfolio", 1200);
      return false;
    });
    $('.blog').click(function(){
      $('#about_me, #portfolio, #blog, #mail').show();
      $.scrollTo("#blog", 1000);
      return false;
    });
    $('.contact').click(function(){
      $('#about_me, #portfolio, #blog, #mail').show();
      $.scrollTo("#mail", 1000);
      return false;
    });
    $('.top, .selected').click(function(){
      $('#sapthagiri').show();
      $.scrollTo("#header", 1000);
      $('#about_me, #portfolio, #blog, #mail').hide('slow');
    });
    
    $.jTwitter('saptha_giri', 5, function(data){
        $.each(data, function(i, post){
            $('#tweets').append(
                '<div class="post">'
                +' <div class="txt">'
                + '<p>'
                +    post.text
                + '</p>'
                + '<hr/>'
                +' </div>'
                +'</div>'
            );
        });
    });

  });
}%>