<br/><br/><br/><br/>

<div id="sapthagiri">
  <a href="http://twitter.com/saptha_giri" title="On Twitter" target="_blank">
    <img src="/images/sapthagiri.jpg" alt="sapthagiri" />
  </a>  
</div>

<div id="main">  
  <div id="home" style="min-height: 460px; text-align: justify;">
    <h2>
      Hello and Welcome...<br/>
      My name is <span class="home_text"><a class="about">Sapthagiri</a></span>. I'm a budding <span class="home_text"><a class="portfolio">Web Developer/Designer</a></span> from India.<br />
      This site showcases my <span class="home_text"><a class="portfolio">Portfolio</a></span> & <span class="home_text"><a class="blog">Blog</a></span>. Find out more <span class="home_text"><a class="about">About Me</a></span> and don't hesitate to <span class="home_text"><a class="contact">Contact Me</a></span>.
    </h2>
  </div>
  
  <div id="about_me" style="min-height: 600px">
    <h2>About Me</h2>
    <img src="/images/me.jpg" alt="sapthagiri" style="float:right; padding: 0 20px;" />
    <p>I'm Sapthagiri.B,budding web developer from Pondicherry(India).I've finished my studies in Pondicherry, 
      majoring Electronics and Communication at may 2008 for bachelor degree.My childhood interest in computers,
      tends me to choose IT field for my career.I'm working as a Software Engineer in Sagework Software Ltd,Pondicherry.
    </p>
    <p>
      My hobbies are playing cricket,reading books, photography and watching films.I like going to movies,
      and I'm a great fan of Rajinikanth and Kamal Hassan. And,I like to hang out with my friends.
    </p><br/>
    <h3>Technical Skills</h3>
    <table cellspacing="20px">
      <tr>
        <td>Framework</td>
        <td><p>Rails 2.3.5, Microsoft .Net 2.0</p></td>
      </tr>
      <tr>
        <td>Development Tools</td>
        <td><p>Microsoft Visual Studio 2005, SQL Management Studio</p></td>
      </tr>
      <tr>
        <td>Languages</td>
        <td><p>Ruby 1.8.7, VB.net, C, C++, VB</p></td>
      </tr>
      <tr>
        <td>Scripting Languages</td>
        <td><p>JavaScript</p></td>
      </tr>
      <tr>
        <td>Markup Languages</td>
        <td><p>HTML, XHTML, CSS</p></td>
      </tr>
      <tr>
        <td>JavaScript Libraries</td>
        <td><p>JQuery, Prototype</p></td>
      </tr>
      <tr>
        <td>RDBMS</td>
        <td><p>MySQL, MS-SQL Server 2005</p></td>
      </tr>
      <tr>
        <td>Operating System</td>
        <td><p>Windows, LINUX, UNIX (SCO)</p></td>
      </tr>
            <tr>
        <td>Web Server</td>
        <td><p>Web rick, Mongrel, IIS, Apache</p></td>
      </tr>
      <tr>
        <td>Version Control</td>
        <td><p>Git</p></td>
      </tr>
      <tr>
        <td>Testing</td>
        <td><p>Rspec, Cucumber</p></td>
      </tr>
    </table>  
  </div>
  
  <div id="portfolio" style="min-height: 600px">
    <h2>My Portfolio</h2>
    <h4>WATTBOT.COM</h4>
    <h4>SAPTHA_GIRI.IN</h4>
  </div>
  
  <div id="blog" style="min-height: 600px" >
    <h2>Blog</h2>
    <img src="/images/coming_soon.png" alt=" Coming Soon" style="margin: auto; display: block;padding-top:100px" />
    <p style="text-align: center;">Currently  blogs at <%= link_to "sapthagiriblog", "http://www.sapthagiriblog.blogspot.com ", :target => "blank" %></p>
  </div>  
  
  <div id="mail" style="min-height: 460px">
    <h2>Contact</h2>
    <p>Use the form below to contact me</p>
    <% form_for :email, :url => { :controller => :emailer, :action => :send_mail } do |f| -%>
      <h3>Name *</h3>
      <p>
        <%= f.text_field :name, :size => 35 %> 
      </p>
      <h3>Email *</h3>
      <p>
        <%= f.text_field :email, :size => 35 %> 
      </p>
      <h3>Subject *</h3>
      <p>
        <%= f.text_field :subject, :size => 35 %> 
      </p>
      <h3>Your message *</h3>
      <p>
        <%= f.text_area :message, :size => "40x10" %>
      </p>
      <p>
        <%= f.submit "Send" %>
      </p>
    <% end -%>
  </div>  
</div>

<%= javascript_tag %q{
  $(document).ready(function(){
    $('#about_me, #portfolio, #blog, #mail').hide();
    
    $('.about').click(function(){
      $('#about_me, #portfolio, #blog, #mail').show();
      $.scrollTo("#about_me", 1000);
      return false;
    });

    $('.portfolio').click(function(){
      $('#about_me, #portfolio, #blog, #mail').show();
      $.scrollTo("#portfolio", 1200);
      return false;
    });
    $('.blog').click(function(){
      $('#about_me, #portfolio, #blog, #mail').show();
      $.scrollTo("#blog", 1000);
      return false;
    });
    $('.contact').click(function(){
      $('#about_me, #portfolio, #blog, #mail').show();
      $.scrollTo("#mail", 1000);
      return false;
    });
    $('.top').click(function(){
      $.scrollTo("#wrapper", 1000);
      return false;
    });
    
    $.jTwitter('saptha_giri', 5, function(data){
        $.each(data, function(i, post){
            $('#tweets').append(
                '<div class="post">'
                +' <div class="txt">'
                + '<p>'
                +    post.text
                + '</p>'
                + '<hr/>'
                +' </div>'
                +'</div>'
            );
        });
    });

  });
}%>