<div id="main">  
  <div id="home" style="text-align: justify">
    <h2>
      Hi there!<br/>
      My name is <span class="home_text"><a class="about" title="sapthakiri">Sapthakiri</a></span>. I'm a web app <span class="home_text"><a class="portfolio" title="Web developer">Developer/Designer</a></span> from India.<br/>
      This site showcases my <span class="home_text"><a class="portfolio" title="sapthakiri portfolio">Portfolio</a></span> &amp; <span class="home_text"><a class="blog" title="sapthagiri blog">Blog</a></span>. Find out more <span class="home_text"><a class="about" title="About sapthakiri">About Me</a></span> and don't hesitate to <span class="home_text"><a class="contact" title="contact sapthakiri">Contact Me</a></span>.
    </h2>
  </div>
  
  <div id="about_me">
    <h4 class="selected">| Home</h4>
    <h2 class="about">> About Me</h2>
    <h4 class="portfolio">| Portfolio</h4>
    <h4 class="blog">| Blog</h4>
    <h4 class="contact">| Contact</h4><br/>
    <h3>Here's some stuff about me</h3><br/>
    <img src="/images/me.jpg" alt="Sapthakiri" style="float:right; padding: 0 20px;" />
    <p>I'm Sapthakiri.B, web developer from India. I've finished my studies in Pondicherry, 
      majoring Electronics and Communication at may 2008 for bachelor degree. My childhood interest in computers,
      tends me to choose IT field for my career.
    </p><br/>
    <p>
      I make websites, that are easy to use with elegant design and clean code.<br/>
      I live and work in Chennai - India, at Railsfactory. 
    </p><br/>
    <p>
      And I'm a movie freak. I love watching movies. I also like reading books.<br/>
      I'm a big fan of Rajinikanth and Kamal hassan. 
    </p>
    <br/>  
  </div>
  
  <div id="portfolio">
    <h4 class="selected">| Home</h4>
    <h4 class="about">| About Me</h4>
    <h2 class="portfolio">> Portfolio</h2>
    <span style="font-size: 10px">Last updated on Aug 2011</span>
    <h4 class="blog">| Blog</h4>
    <h4 class="contact">| Contact</h4>
    <br/>
    <div class='wrapper1'>
       <h3>Wattbot</h3><br/>
        <a href="http://www.wattbot.com"><img src="/images/Wattbot.png" alt="Sapthakiri - Wattbot"  /></a>
        <div class='description1'>
            <h3>Wattbot</h3>
            <p class='description_content1'>Wattbot is a Internet based energy advisor located in California, USA. Find out what energy efficiency and renewable energy tax credits and rebates are available to you to help you lower your energy bill.</p>        
            <h5>Skills</h5>
            <p>Ruby, Rails, HTML, CSS, jQuery, Prototype, Mysql, Git</p>
        </div>
    </div>

    <div class='wrapper1'>
        <h3>Revenue Med</h3><br/>
        <a href="http://www.revenuemed.com/"><img src="/images/Revenue Med.png" alt="Sapthakiri - Revenue Med"  /></a>
        <div class='description1'>
          <h3>Revenue Med</h3>
          <p class='description_content1'>Revenue Med is a US based revenue cycle consulting service, engineered a variety of solutions (RevRemit, RevClaim, RevDental) that convert paper EOB's into ANSI 835 files.</p>
          <h5>Skills</h5>          
          <p>Ruby, Rails, HTML, CSS, Javascript, Mysql, Rspec, SVN</p>          
        </div>
    </div>

    <div class='wrapper1'>
        <h3>Spending Doctor</h3><br/>
        <a href="http://www.spendingdoctor.com/"><img src="/images/Spending Doctor.png" alt="Sapthakiri - Spending Doctor"  /></a>
        <div class='description1'>
            <h3>Spending Doctor</h3>
            <p class='description_content1'>Spending Doctor is internet based healthcare service provider, founded to advocate for healthcare consumers, review every bill, and act on the consumer’s behalf with the providers they are paying. </p>
            <h5>Skills</h5>
            <p>Ruby, Rails, HTML, CSS, jQuery, Mysql, Rspec, Git</p>
        </div>
    </div>

    <div class='wrapper1'>
        <h3>The Hype</h3><br/>
        <a href="https://www.thehype.com"><img src="/images/The Hype.png" alt="Sapthakiri - The Hype"  /></a>
        <div class='description1'>
            <h3>The Hype</h3>
            <p class='description_content1'>The Hype is a web application developed to showcase consumer's experience on any item and gather consumer wisdom from their trusted sources. The Hype  helps you  keep in touch with your friends, share their thoughts record  exchanging your experiences with them .</p>
            <h5>Skills</h5>
            <p>Ruby, Rails, Haml, CSS, jQuery, Mysql, MongoDb, Git</p>          
        </div>
    </div>
  </div>
  <div class="clear"></div>
  <div id="blog">
    <h4 class="selected">| Home</h4>
    <h4 class="about">| About Me</h4>
    <h4 class="portfolio">| Portfolio</h4>
    <h2 class="blog">> Blog</h2>
    <h4 class="contact">| Contact</h4>
    <img src="/images/coming_soon.png" alt=" Coming Soon" style="margin: auto; display: block;padding-top:100px" />
    <p style="text-align: center;">Currently  blogs at <%= link_to "sapthagiriblog", "http://www.sapthagiriblog.blogspot.com ", :target => "blank" %></p>
  </div>

  <div id="mail">
    <h4 class="selected">| Home</h4>
    <h4 class="about">| About Me</h4>
    <h4 class="portfolio">| Portfolio</h4>
    <h4 class="blog">| Blog</h4>
    <h2 class="contact">> Contact</h2>
    <p>Use the form below to contact me</p>
    <% form_for :mailer, :url => { :controller => :emailer, :action => :send_mail } do |f| -%>
      <h5>Name *</h5>
      <p>
        <%= f.text_field :name, :size => 35 %> 
      </p>
      <h5>Email *</h5>
      <p>
        <%= f.text_field :email, :size => 35 %> 
      </p>
      <h5>Subject *</h5>
      <p>
        <%= f.text_field :subject, :size => 35 %> 
      </p>
      <h5>Your message *</h5>
      <p>
        <%= f.text_area :message, :size => "40x10" %>
      </p><br/>
      <p>
        <%= f.submit "Send" %>
      </p>
      <p>* required</p>
    <% end -%>
  </div>  
</div>

<%= javascript_tag %q{
  $(document).ready(function(){
    $('.about').click(function(){
      $('#about_me, #portfolio, #blog, #mail').show();
      $('#sapthagiri').hide();
      $.scrollTo("#about_me", 1000);
      return false;
    });

    $('.portfolio').click(function(){
      $('#about_me, #portfolio, #blog, #mail').show();
      $('#sapthagiri').hide();
      $.scrollTo("#portfolio", 1200);
      return false;
    });

    $('.blog').click(function(){
      $('#about_me, #portfolio, #blog, #mail').show();
      $('#sapthagiri').hide();
      $.scrollTo("#blog", 1000);
      return false;
    });

    $('.contact').click(function(){
      $('#about_me, #portfolio, #blog, #mail').show();
      $('#sapthagiri').hide();
      $.scrollTo("#mail", 1000);
      return false;
    });

    $('.top, .selected').click(function(){
      $.scrollTo("#header", 1000);
      $('#about_me, #portfolio, #blog, #mail').hide('slow');
    });

    $(".wrapper1 a").each(function(){
        $(this).mouseenter(function(){
            $(this).siblings().show();
        }).mouseleave(function(){
            $(this).next().hide();
        });
    });

    $(".description1").each(function(){
        $(this).mouseenter(function(){
            $(this).show();
        }).mouseleave(function(){
            $(this).hide();
        });
    });

    $(".description1 p").css({"color": "#ffffff", "opacity": "1", "width": "500px", "font-size": "12px"});
    $(".description1 h3").css({"color": "#CC6600", "opacity": "1"});
  });
}%>